<div id="root">
    <header class="header-area formobile-menu header--transparent default-color">
        <div class="header-wrapper" id="header-wrapper">
            <div class="header-left">
                <div class="logo">
                    <a href="/"><img src="/assets/logo.png" alt="Agência Digital" /></a>
                </div>
            </div>
            <div class="header-right">
                <nav class="mainmenunav d-lg-block">
                    <ul class="mainmenu">
                        <li class="has-droupdown">
                            <a href="/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Sobre nós</font>
                                </font>
                            </a>
                        </li>

                        <li>
                            <a href="/about">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Pacotes</font>
                                </font>
                            </a>
                        </li>
                        <li class="has-droupdown">
                            <a href="/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Simples Nacional</font>
                                </font>
                            </a>
                        </li>
                        <li class="has-droupdown">
                            <a href="/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Blog</font>
                                </font>
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Contato</font>
                                </font>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="header-btn">
                    <a class="rn-btn" href="https://themeforest.net/checkout/from_item/25457315?license=regular"><span>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Abrir empresa gratís
                                </font>
                            </font>
                        </span></a>
                </div>
                <div class="humberger-menu d-block d-lg-none pl--20">
                    <span class="menutrigger text-white"><svg stroke="currentColor" fill="none" stroke-width="2"
                            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="3" y1="12" x2="21" y2="12"></line>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg></span>
                </div>
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger"><svg stroke="currentColor" fill="none" stroke-width="2"
                            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg></span>
                </div>
                <div class="header-btn">
                    <div class="humberger-menu d-block d-lg-none pl--20">
                        <span class="menutrigger text-white"><svg stroke="currentColor" fill="none" stroke-width="2"
                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                <line x1="3" y1="12" x2="21" y2="12"></line>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <line x1="3" y1="18" x2="21" y2="18"></line>
                            </svg></span>
                    </div>
                    <div class="close-menu d-block d-lg-none">
                        <span class="closeTrigger"><svg stroke="currentColor" fill="none" stroke-width="2"
                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="rn-page-title-area pt--120 pb--190 bg_image bg_image--17" data-black-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title text-center pt--100">
                        <h2 class="title theme-gradient">
                            Cadastro
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rn-contact-page ptb--120 bg_color--1">
        <div class="contact-form--1">
            <div class="container">
                <div class="row row--35 align-items-start">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="section-title text-left mb--50">
                            <h2 class="title">Cadastrar-se</h2>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
                                cupiditate
                                aperiam neque.</p>
                        </div>
                        <div class="form-wrapper">
                            <form>

                                <label for="item01"><input type="text" name="name" [(ngModel)]="cliente.nome"
                                        id="item01" placeholder="Nome *" value=""></label>
                                <label for="item02"><input type="text" name="email" [(ngModel)]="cliente.email"
                                        id="item02" placeholder="Email *" value=""></label>
                                <label for="item03"><input type="text" name="subject" [(ngModel)]="cliente.telefone"
                                        id="item03" placeholder="(00) 9 0000-0000" value=""></label>
                                <label for="item04">
                                    <input type="text" name="subject" id="item04" [(ngModel)]="cliente.faturamentoanual"
                                        placeholder="Faturamento Anual R$" value="">
                                </label>
                                <label for="item05">
                                    <input type="text" name="subject" id="item05"
                                        [(ngModel)]="cliente.faturamentomensal" placeholder="Faturamento Mensal R$"
                                        value="">
                                </label>
                                <label for="item06">
                                    <input type="number" name="subject" id="item06" [(ngModel)]="cliente.quantsocios"
                                        placeholder="Quantidade de Sócios" value="">
                                </label>
                                <button class="rn-button-style--2 btn-solid" type="button" value="submit" name="submit"
                                    id="mc-embedded-subscribe" (click)="create()">Confirmar</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">

                        <app-login></app-login>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>