<div id="root">
    <div class="active-dark">
        <div class="slider-wrapper">
            <div class="slider-activation">
                <div class="slide slide-style-1 slider-fixed--height d-flex align-items-center bg_image bg_image--1" data-black-overlay="6">
                    <div class="container margin-auto">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner">
                                    <a _ngcontent-snk-c1="" class="rn-button-style--2 banana" href=""><span _ngcontent-snk-c1=""><div _ngcontent-snk-c1="" style="vertical-align: inherit;"><div _ngcontent-snk-c1="" style="vertical-align: inherit;">BANANA CONTÁBIL</div></div></span></a>
                                    <div _ngcontent-snk-c1="" class="rn-button-style--2 cadastro" (click)="loginFacebook()"><span _ngcontent-snk-c1=""><div _ngcontent-snk-c1="" style="vertical-align: inherit;"><div _ngcontent-snk-c1="" style="vertical-align: inherit;">CADASTRO / <strong>LOGIN</strong></div></div></span></div>


                                    <h1 class="title title-c theme-gradient">
                                        <div style="vertical-align: inherit;">
                                            <div style="vertical-align: inherit;">simples</div>
                                        </div>
                                        <div style="vertical-align: inherit;">
                                            <div style="vertical-align: inherit;">nacional</div>
                                            <div style="vertical-align: inherit;">para médicos .</div>
                                        </div>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="service-wrapper service-white" style="margin-top: 40px; margin-bottom: 100px;">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="/assets/escritorio-yellow-01.png" alt="Agência Digital" />
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <div style="vertical-align: inherit;">
                                                    <div class="title-c">Consultoria Contabíl</div>
                                                </div>
                                            </h4>

                                            <div style="vertical-align: inherit;">
                                                <div class="desc-c">
                                                    Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="/assets/medico-yellow.png" alt="Agência Digital" />
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <div style="vertical-align: inherit;">
                                                    <div class="title-c">Foco em Médicos</div>
                                                </div>
                                            </h4>

                                            <div style="vertical-align: inherit;">
                                                <div class="desc-c">
                                                    Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="/assets/icon-03-yellow.png" alt="Agência Digital" />
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <div style="vertical-align: inherit;">
                                                    <div class="title-c">Especialização</div>
                                                </div>
                                            </h4>

                                            <div style="vertical-align: inherit;">
                                                <div class="desc-c">
                                                    Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-area about-position-top pb--120 bg_color--1">
            <div class="about-wrapper">
                <div class="container">
                    <div class="row row--35 align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="img-c">
                                <img class="w-100" src="/assets/about-1.jpg" alt="Sobre Imagens" />
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-12"></div>

                        <div class="col-lg-6 col-md-12">
                            <div class="about-inner inner" style="margin-top: 70px;">
                                <div class="section-title">
                                    <h2 class="title">
                                        <div style="vertical-align: inherit;">
                                            <div style="vertical-align: inherit;">
                                                Como funciona ?
                                            </div>
                                        </div>
                                    </h2>
                                    <div class="description" style="margin-bottom: 30px;">
                                        <div class="about-desc">
                                            <div>
                                                Abrimos sua empresa gratuitamente ou recebemos a sua existente, seremos seu contador especialista em Médicos e clínicas, sabemos economizar seu dinheiro, com a menor mensalidade do Brasil R$289, usamos toda tecnologia tributária disponível e por isso
                                                muito eficientes, adoramos ajudar as empresa e com isso você pagar o mínimo de imposto, estudamos caso a caso com profundidade e buscamos o melhor regime tributário com base na sua situação atual , ajudamos
                                                você a organizar o seu crescimento de forma gradativa.
                                            </div>
                                        </div>
                                    </div>
                                    <div style="vertical-align: inherit;">
                                        <div style="vertical-align: inherit;"></div>
                                    </div>
                                </div>
                                <div style="vertical-align: inherit;">
                                    <div style="vertical-align: inherit;">
                                        <div class="row mt--30 mt_sm--10">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="about-us-list">
                                                    <h3 class="title">
                                                        <div style="vertical-align: inherit;">
                                                            <div style="vertical-align: inherit;">
                                                                Confiança
                                                            </div>
                                                        </div>
                                                    </h3>
                                                    <div>
                                                        <div style="vertical-align: inherit;">
                                                            <div class="about-c-s">
                                                                Sou dermatologista e presto serviços em clínicas particulares, fiquei impressionada como eu desconhecia as opções para nós médicos, salvei 10 mil reais no primeiros 6 meses<br /><br />
                                                                <div style="font-style: italic;">
                                                                    Dra. Andressa Manfredini
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="about-us-list">
                                                    <h3 class="title">
                                                        <div style="vertical-align: inherit;">
                                                            <div style="vertical-align: inherit;">
                                                                Seu dinheiro
                                                            </div>
                                                        </div>
                                                    </h3>

                                                    <div style="vertical-align: inherit;">
                                                        <div class="about-c-s">
                                                            Você vai acompanhar mensalmente o quanto economizou, temos clientes que economizaram 20 mil reais no primeiro ano e será o próximo a SALVAR dinheiro!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="vertical-align: inherit;"></div>
                        </div>
                        <div style="vertical-align: inherit;"></div>
                    </div>
                    <div style="vertical-align: inherit;"></div>
                </div>
                <div style="vertical-align: inherit;"></div>
            </div>
            <div style="vertical-align: inherit;"></div>
        </div>
        <div style="vertical-align: inherit;">
            <div class="service-area ptb--80 bg_image bg_image--3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="section-title mt--30 mt_md--5 mt_mobile--5 mb_mobile--10">
                                <h2 class="title">
                                    <div style="vertical-align: inherit;">
                                        <div style="vertical-align: inherit;">Serviços</div>
                                        <div class="about-desc"></div>
                                    </div>
                                </h2>

                                <div class="service-btn">
                                    <a class="btn-transparent rn-btn-dark" href=" https://wa.me/5511942115617?text=ola%20gostaria%20de%20abrir%20minha%20empresa"><span class="text"
                      ><div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;" class="abrir-empresa">
                          Abrir empresa Gratís
                        </div>
                      </div></span
                    ></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-12 mt_md--50">
              <div class="row service-one-wrapper">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    
                      <div class="service service__style--2">
                        <div class="icon">
                          <img src="./assets/icon-01-yellow.png" alt="" />
                        </div>
                        <div class="content">
                          <h3 class="title">
                            <div style="vertical-align: inherit;">
                              <div style="vertical-align: inherit;" class="service-title">
                                Rotinas contábeis
                              </div>
                            </div>
                          </h3>

                          <div>
                            <div class="serv-c">
                              Realizamos todas as suas rotinas contábeis,
                              respeitando o calendário governamental.
                            </div>
                            <div class="serv-c">
                              Realizamos ou auxiliamos nas rotinas de emissão de
                              notas fiscais. Fale com a gente quando quiser por
                              telefone ou por whatsapp.
                            </div>
                          </div>
                        </div>
                      </div>
                    
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    
                                        <div class="service service__style--2">
                                            <div class="icon">
                                                <img src="./assets/icon-01-yellow.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h3 class="title">
                                                    <div style="vertical-align: inherit;">
                                                        <div style="vertical-align: inherit;" class="service-title">
                                                            Economia
                                                        </div>
                                                    </div>
                                                </h3>

                                                <div class="serv-c">
                                                    Economia de verdade, valor de mercado em São Paulo varia de R$500 e R$1.100, nossa mensalidade é fixa R$289.
                                                </div>
                                                <div class="serv-c">
                                                    Abertura de empresa gratuita.
                                                </div>
                                                <div class="serv-c">
                                                    Criação de certificado digital.
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                            <div class="row" style="margin-top: 50px;">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    
                                        <div class="service service__style--2">
                                            <div class="icon">
                                                <img src="./assets/icon-01-yellow.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h3 class="title">
                                                    <div style="vertical-align: inherit;">
                                                        <div style="vertical-align: inherit;" class="service-title">
                                                            Marketing e Relatórios
                                                        </div>
                                                    </div>
                                                </h3>

                                                <div class="serv-c">
                                                    Criamos sua Conta PJ e integramos a contabilidade.
                                                </div>
                                                <div class="serv-c">
                                                    Rotinas com maquininha de cartão.
                                                </div>

                                                <div class="serv-c">
                                                    Integração “Open Bank”, primeira contabilidade do Brasil.
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    
                                        <div class="service service__style--2">
                                            <div class="icon">
                                                <img src="./assets/icon-01-yellow.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <h3 class="title">
                                                    <div style="vertical-align: inherit;">
                                                        <div style="vertical-align: inherit;" class="service-title">
                                                            Pagamentos
                                                        </div>
                                                    </div>
                                                </h3>

                                                <div class="serv-c">
                                                    Pró-labore e folha de pagamento.
                                                </div>
                                                <div class="serv-c">
                                                    Serviços pay-per-use onde você paga somente quando usa.
                                                </div>
                                                <div class="serv-c">
                                                    Rede de parceiros especializados no setor para apoiar todas suas iniciativas empreendedoras.
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-area">
            <div class="footer-wrapper">
                <div class="row align-items-end row--0" style="background: #191919;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="footer-left">
                            <div class="inner">
                                <span><div style="vertical-align: inherit;">
                      <div style="vertical-align: inherit;">
                        Pronto para fazer isso
                      </div>
                    </div></span
                  >
                  <h2>
                    <div style="vertical-align: inherit;">
                      <div style="vertical-align: inherit;" class="banana-footer">Banana</div>
                    </div>
                    <div style="vertical-align: inherit;">
                      <div style="vertical-align: inherit;" class="contabil-footer">Contábil</div>
                    </div>
                  </h2>
                  <a class="rn-button-style--2" href="/contact"
                    ><span
                      ><div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;">Contate-Nos</div>
                      </div></span
                    ></a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="footer-right" data-black-overlay="6">
                <div
                  style="vertical-align: inherit;"
                  style="font-size: 60px; font-weight: 600; color: #fff;"
                >
                  11 94211 5617
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div style="vertical-align: inherit;"></div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastro Simples</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>